<% unless current_user %>
<div class="jumbotron">
<h1>Welcome to Instagrove!</h1>
<p>Join our awesome group.</p>
<a href="<%= new_user_registration_path %>" class="btn btn-large btn-primary">Sign up</a>
</div>
<% else %>
You're signed in
<% end %>