// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {

	.btn {
		margin-top: 1.5em;
	}
}

.sign-in-form {
	max-width: 300px;

	.btn {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}