// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frame {
	width: 300px;
	height: auto;
	padding: 20px;
	float: left;
	background-color: #f1f1f1;
	border: 1px solid #ccc;

	p {
		margin-top: 10px;
	}
}

.btn-new-photo {
	clear: left;
	float: left;
	margin-top: 2em;
}